.download-section {
  position: relative;
  margin: 100px 0 80px 0;
  padding: 40px 20px;
}

.download-container {
background-color: #000000db;
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 30px 20px;
  gap: 20px;
  border-radius: 12px;
  position: relative;
  border: 3px solid #e91e62db;
}

.image-side {
  flex: 1.2;
  position: relative;
  padding: 10px;
}

.app-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-width: 600px;
  top: -227px;
  z-index: 1;
}

.text-side {
  flex: 1;
  padding: 10px 20px;
}

.text-side h2 {
  font-size: 32px;
  margin-bottom: 10px;
  color: #e91e62b8;
   font-weight: 700!important;
}

.text-side p {
  font-size: 18px;
 
  margin-bottom: 30px;
  color: #ffffff;
}

.download-buttons {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.btn {
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  transition: background-color 0.3s ease;
}



@media (max-width: 992px) {
  .download-container {
    flex-direction: column;
    text-align: center;
    padding: 40px 20px;
  }

  .app-image {
    top: -80px;
    max-width: 450px;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
  }

  .text-side {
    padding: 20px 10px;
  }

  .text-side h2 {
    font-size: 28px;
  }

  .text-side p {
    font-size: 16px;
  }

  .download-buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .app-image {
    position: relative;
    top: 0;
    bottom: auto;
    left: auto;
    transform: none;
    max-width: 300px;
    margin: 0 auto;
    display: block;
  }

  .image-side {
    height: auto;
  }

  .text-side h2 {
    font-size: 24px;
  }

  .text-side p {
    font-size: 14px;
  }

  .btn {
    padding: 10px 18px;
    font-size: 14px;
  }
}
